@charset "utf-8";

#contents-favorite-list {
	width: 763px;
	float: right;
margin: 18px auto;
-webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
background: #fff;
}

#contents-favorite-list #page-title {
	text-align: center;
	padding: 20px 0;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;

}
#contents-favorite-list #page-title h1 {
	font-size: 30px;
	font-weight: normal;
	display: inline;

}



#contents-favorite-list .bread_crumb {
padding: 10px;
overflow: hidden;
background: #444;
-webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#contents-favorite-list .bread_crumb ul {
overflow: hidden;
}

#contents-favorite-list .bread_crumb ul li {
float: left;
list-style-type: none;
font-size: 14px;
color: #fff;
}

#contents-favorite-list .bread_crumb ul li a {
color: #fff;
}


#contents-favorite-list .bread_crumb ul li a:hover{
	color:#f7f7f7;
	text-decoration: underline;

}




#contents-favorite-list .bread_crumb li.sub {
padding-left: 10px;
}

#contents-favorite-list .bread_crumb li.sub:before {
letter-spacing: 10px;
content:">";
}

.favorite-list-article {
	width: 97%;
	margin: 0px auto;
}

.favorite-list-article .wpfp-span {

}

.favorite-list-article .wpfp-span .favorite-archive li{
	list-style: none;
	font-size: 20px;
}

.favorite-list-article .wpfp-span .favorite-archive {
	margin: 10px 0 10px;
}

.favorite-list-article .wpfp-span .wpfp-link {

	width: 220px;
background: #428abd;
display: block;
font-size: 17px;
font-weight: bold;
padding: 10px;
text-align: center;
margin: 20px auto;
border-radius: 20px;
-webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 5px 0 #222;

}

.favorite-line li {
	display: inline-block;
	float: left;
}

.favorite-article-single {
	width: 100%;

}



.favorite-line {
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.favorite-line:hover {
	background: #eee;

		transition : 0.3s ease;
}

.favorite-line:after {
	content: "";
	display: block;
	clear: both;


}

.favorite-title {
	width: 80%;
	padding: 15px;

}

.favorite-thumbnail img {
	vertical-align: text-bottom;
}

