@charset "utf-8";


.entry {
	position: relative;
	background-color: #fff;
	width: 97%;
	margin: 0 auto;
	overflow: hidden;
}


.entry .entry_1 {
	color: #000;
	background: #fff;
	display: block;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	height: 190px;
	position: relative;
	overflow: hidden;
}

.entry .entry_2 {
	position: absolute;
	bottom: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
	transition: opacity 0.6s, transform 0.6s;
	opacity: 0;
	margin-left: 220px;
	background: #222;
	height: 110px;
	padding: 10px;


}
.entry .entry_2:hover .article-excerpt {
	border-bottom: 1px solid #fff;
	-webkit-transition: 0.6s ease;
       -moz-transition: 0.6s ease;
         -o-transition: 0.6s ease;
            transition: 0.6s ease;

}

.entry .entry_2 .article-excerpt {
	display: inline;
	-webkit-transition: 0.6s ease;
       -moz-transition: 0.6s ease;
         -o-transition: 0.6s ease;
            transition: 0.6s ease;
}



.entry .entry_2 p {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-top: 10px;
}

.entry:hover .entry_2 {
	opacity: 0.9;
	-webkit-transform: translateY(0);
	transform: translateY(0);

}

.entry-figure {
	float: left;
	width: 210px;
	height: 190px;
	text-align: center;

}

.entry-figure img {
	width: 130px;
	height: 180px;
		-webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
margin-top: 5px;

}

.entry .title {
	width: 500px;
	float: left;
	padding-top: 15px;
}



.entry .box-time {
	overflow: hidden;
	margin-right: 10px;

}

.entry .box-time time {
	font-size: 18px;
	display: block;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.entry .box-time {
	font-size: 30px;
	display: inline-block;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}


.entry .entry_author_area {
	display: inline-block;
	height: 30px;
	vertical-align: top;
}

.entry .author-vcard {
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	line-height: 30px;
}

.entry .entry_author_thumbnail {
	height: 30px;
	display: inline-block;
	vertical-align: top;

}

.entry .sns-counts-num {
	list-style: none;
	margin-top: 10px;
}

.entry .sns-counts-num li {
	font-family: 'Montserrat', sans-serif;
	margin-right: 5px;



}

.article_under_area {
	position: absolute;
	bottom: 5px;

}

.article_under_area #view-style {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: top;
}

.article_under_area #view-style span {
	font-size: 12px;
}

.entry .sns-counts-num li p {
	font-size: 16px;
}

.entry .sns-counts-num li span {
	font-size: 15px;
}

.entry .sns-counts-num .fb-counts-num {
	display: inline-block;
	border-radius: 5px;
	background: #3B5998;
	color: #Fff;
	padding: 2px 5px;

}

.entry .sns-counts-num .tw-counts-num {
	display: inline-block;
	border-radius: 5px;
	background: #55ACEE;
	color: #Fff;
	padding: 2px 5px;

}

.entry .sns-counts-num .hb-counts-num {
	display: inline-block;
	border-radius: 5px;
	background: #7db4e8;
	color: #Fff;
	padding: 2px 5px;

}

.entry .sns-counts-num .fv-counts-num {
	display: inline-block;
	border-radius: 5px;
	background: #FFD700;
	color: #Fff;
	padding: 2px 5px;

}


.entry .sns-counts-num .count {
	font-size: 16px;
	line-height: 120%;
	color: #fff;
}

.entry .title h1 {
	line-height: 150%;
	font-size: 17px;
	font-weight: bold;
	min-height: 25px;

}




.entry .title .feature-name {
	line-height: 200%;
	font-size: 16px;

}




#contents-body #article-top p {
	font-weight: normal;
	line-height: 150%;
	font-size: 14px;
}


#contents-body .top-article .page-thumbnail {
	float: left;
	margin-right: 15px;
	height: 160px;
}

#contents-body .top-article .page-header .social-buttons {
	list-style: none;
	margin : 25px auto 0;
	overflow: hidden;
	width: 90%;
}

#contents-body .page-header .social-buttons li {
	padding-right: 10px;
	float: left;
}

#contents-body #archive-header {
	height: 60px;
	font-weight: normal;
	text-align: center;
	color: #Fff;
}

#contents-body #archive-header .page-title {
	font-size: 30px;
	line-height: 60px;
}

#contents-body #taxonomy-header {
	height: 60px;
	font-weight: normal;
	text-align: center;
	color: #Fff;
	background: #428abd;
	width: 740px;
	margin: 0 auto;
}

#contents-body #taxonomy-header .page-title {
	font-size: 30px;
	line-height: 60px;
}





/* パンくずリスト */

#contents-body .bread_crumb ul li{
	float: left;
	list-style-type: none;
	font-size: 14px;
	color: #fff;
}

#contents-body .bread_crumb ul li a{
	color: #fff;
}

#contents-body .bread_crumb ul li a:hover{
	color:#f7f7f7;
	text-decoration: underline;
}

#contents-body .bread_crumb ul{
	overflow: hidden;
}

#contents-body .bread_crumb {
	padding: 10px;
	overflow: hidden;
	background: #444;
	-webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#contents-body .bread_crumb li.sub {
padding-left: 10px;
}

#contents-body .bread_crumb li.sub:before {
letter-spacing: 10px;
content:">";
}

/* パンくずリスト終わり */




.slides .caption {
	display: inline;
	font-size: 20px;
}

.slides .caption-wrap {
	padding: 10px 0 10px 5px;
}


/* フッター部分 */



#footer-contents {
	color: #fff;
	width: 100%;
}

#footer-contents ul {

	position: relative;
	overflow: hidden;
	width: 385px;
	margin: 0 auto;
}

#footer-contents ul li {
	list-style: none;
	float: left;
	margin-left: 20px;
	line-height: 30px;
	font-weight: bold;
}	#footer-contents ul li:first-child {
		height: 30px;
	}
#footer-contents ul li p {
		color: #ccc;
		font-size: 13px;
}

#footer-contents ul li a {
	display: inline;
}


#header-contents #login-user-name {
	display: inline-block;
	float: right;
	border-left: 1px solid;
	text-align: center;
	position: relative;
}

#header-contents #login-user-name p {
	display: inline;
	line-height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #222;
	padding: 10px;
}

#header-contents #login-user-name a {
	display: block;
	background: #f8f8f8;
	color: #222;

}



#balloon-1-top {
	color: #19283C;
	position: absolute;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 150px;
	height: 40px;
	line-height: 32px;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
	right: 100px;
	top: 90px;
	z-index: 9999;

}
#balloon-1-top:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 0;
}
#balloon-1-top:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
	z-index: -1;
}

#balloon-1-top span {
	font-size: 17px;
	line-height: 40px;
	font-weight: bold;
}


/*feature_area*/

#feature-top  {
	width: 100%;
	margin: 0 auto;


}



#feature-top:after {
	clear: both;
}

#contents-body #feature-top{
	display: block;
	margin: 0 auto;
	width: 740px;
	position: relative;


}

#contents-body #feature-top a {
	text-align: left;
	display: block;

}

#contents-body #feature-top img:hover + #feature-description {
	filter:alfa(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	webkit-transition: 0.3s ease;
-moz-transition:  0.3s ease;
-o-transition:  0.3s ease;
transition: 0.3s ease;


}

#contents-body #feature-top img:hover {
	-
webkit-transition: 0.3s ease;
-moz-transition:  0.3s ease;
-o-transition:  0.3s ease;
transition: 0.3s ease;
filter:alfa(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
}

#contents-body #feature-top img {
	-webkit-transition:  0.3s ease;
-moz-transition: 0.3s ease;
-o-transition: 0.3s ease;
transition: 0.3s ease;
}


#contents-body #feature-top {
	-webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#contents-body #feature-top #feature-description {
	position: absolute;
	left: 0;
	bottom: 7px;
	background: #222;
	color: #fff;
	filter:alfa(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding: 10px;
	-webkit-transition:  0.3s ease;
-moz-transition: 0.3s ease;
-o-transition: 0.3s ease;
transition: 0.3s ease;


}



#contents-body #feature-top #feature-des-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}


#contents-body #feature-top #feature-des-excerption{
	font-size: 14px;

}

#contents-body #feature-top #i1 {
	display: block;
}

#fadearea #prev {
	position: absolute;
	top: 45%;
	left: 15px;
	width: 30px;
	height: 30px;
	background: #222;
	cursor: pointer;
	display: block;
	z-index: 9999;
	border-radius: 30px;
}

#fadearea #next {
	position: absolute;
	top: 45%;
	right: 15px;
	width: 30px;
	height: 30px;
	background: #222;
	cursor: pointer;
	display: block;
	z-index: 9999;
	border-radius: 30px;


}



#fadearea {
	position: relative;
}


/* ログインメニュー */

#header input[type="checkbox"] {
	visibility: hidden;
}
#checkbox-menu {
	position: relative;
	width: 40px;
	height: 40px;
	float: right;
	margin: 20px 10px ;

}
/* ラベル (ボタン) のデザイン */
#checkbox-menu #checkbox_label {
	display: block;
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu #checkbox_label:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%; left: 0;
	margin-top: -1.5px;
	width: 100%;
	height: 3px;
	background: #428abd;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu #checkbox_label:after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 50%;
	margin-left: -1.5px;
	bottom: 0;
	width: 3px;
	height: 100%;
	background: #428abd;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu input[type="checkbox"]:checked + #checkbox_label {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
#checkbox-menu input[type="checkbox"]:checked + #checkbox_label:before,
#checkbox-menu input[type="checkbox"]:checked + #checkbox_label:after {
	background: #B21D2D;
}

#checkbox-menu #login-area {
	position: absolute;
	top: 75px;
	right: 0px;
	margin-left: -150px;
	width: 300px;
	height: auto;
	background: #222;
	visibility: hidden;
	opacity: 0;
	border-radius: 8px;
	z-index: 9999;
	color: #Fff;
	padding: 20px;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
	-webkit-transform: translate3d(0, -15px, 0);
	   -moz-transform: translate3d(0, -15px, 0);
	    -ms-transform: translate3d(0, -15px, 0);
	     -o-transform: translate3d(0, -15px, 0);
	        transform: translate3d(0, -15px, 0);

}

#checkbox-menu #login-area h2 {
	font-size: 16px;
}

#checkbox-menu #login-area form p {
	line-height: 35px;
}


#checkbox-menu #login-area:after {
	content: "";
	position: absolute;
	top: -10px;
	right: 12px;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #222 transparent;

}

#checkbox-menu input[type="checkbox"]:checked + #checkbox_label + #login-area {
	background: #222;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

#login_username_label,#login_password_label {
	font-size: 14px;
}


#login_username,#login_password {
	padding: 5px;
	line-height: 20px;
	border: none;
	font-size: 15px;
	width: 200px;
	border-radius: 5px;
}

#checkbox-menu input[type="submit"] {

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	padding: 8px 16px;
	border: none;
	color: #Fff;
	background: #428abd;
	float: right;
	margin-top: 10px;
	cursor: pointer;

}

#checkbox-menu input[type="submit"]:hover {
}


#go_top {
	position: absolute;
	left: 30px;
	bottom: 30px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #888;
	opacity: 0.7;

}
#go_top a {
	width: 30px;
	height: 30px;
	border-radius: 30px;

}


#go_top a:after {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	margin-top: 10px;
	margin-left: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);

}